*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Avenir, sans-serif;
  font-size: 10px;

}

.container {
  margin: 0 auto;
  width: 375px;
}

nav {
  margin: 0 auto;
  position: relative;
  width: 375px;
  background-color: #fff;

}

.arrow-left {
  display: block;
  position: absolute;
  left: 2em;
  top: 55%;
  transform: scale(1.5);
}

.Routes h1 {
  font-size:1.5em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;

}

/*Routes*/

.location {
  width: 100%;
  float: left;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.direction {
  width:100%;
  float: left;
  background-color: #EFEFF5;
  padding-top: 25px;
  padding-bottom: 10px;

}

.direction-con {
  padding-left: 1.4em;
  font-size: 1.4em;
  text-transform:uppercase;
}

.location:hover {
  background-color: #BABABA;

}

.content {
  width: 85%;
  float: left;
  padding-left: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}



.arrow {
  display: block;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
}

.content h1 {
  font-size: 1.6em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.content h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0em;

}

.location-with-border {
  width: 100%;
  float: left;
  background-color: #fff;
  padding-top: 15px;
  position: relative;
}
